{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{% static 'fenjan/src/favicon.png' %}">
        <link rel="stylesheet" href="{% static 'fenjan/styles.css' %}">
        <title>Fenjan</title>
        <!-- Bootstrap CSS and JS CDN references-->
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> -->
    </head>
    <body class="main">

        {% if stored_messages %}
            <div class="alert {{ message.tags }} alert-dismissible stored_messages" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"onclick="this.parentElement.style.display='none';">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                </button>
                {{ stored_messages }}
            </div>
        {% endif %}

        <!-- page 1 -->
        <section class="p1">
            <img class="side" src="{% static 'fenjan/src/images/Side-P1-D.png' %}" alt="Right Cloud">
            <h1 class="wellhead">Welcome to Fenjan!</h1>
            <h2 class="underhead">Your beloved dinosaur that helps you to find your dream PhD positions</h2>
            <img class="dina" src="{% static 'fenjan/src/images/mascots/Reciption dina-P1-D.png' %}" alt="Malang Dina">
            <p class="intro">
                Fenaja is a tool designed to assist you in finding your dream Ph.D. position.
                We understand that searching through social media platforms for Ph.D. positions can be tedious and time-consuming.
                That's why we've developed Fenjan, it simplifies the process and saves your valuable time.
            </p>
            <img class="cups" src="{% static 'fenjan/src/images/mascots/Cups-P1-D.png' %}" alt="Orange Cups">
            <footer class="developer">
                <p class="text">Developed by: Hue (MohammadHossein) Salari</p>
                <section class="icons">
                    <a href="https://github.com/mh-salari">
                        <img class="G-icon" src="{% static 'fenjan/src/images/Git icon-P1-D.png' %}" alt="Git Icon">
                    </a>
                    <a href="https://sigmoid.social/@hue">
                        <img class="M-icon" src="{% static 'fenjan/src/images/Mastodon icon-P1-D.png' %}" alt="Mastodon Icon">
                    </a>
                    <a href="https://www.linkedin.com/in/hue-salari">
                        <img class="L-icon" src="{% static 'fenjan/src/images/Linked icon-P1-D.png' %}" alt="Linked Icon">
                    </a>
                </section>
            </footer>
        </section>

        <!-- page 2 -->
        <section class="p2">
            <img class="side" src="{% static 'fenjan/src/images/Side-P2-D.png' %}" alt="Left Cloud">
            <img class="dina" src="{% static 'fenjan/src/images/mascots/Guide dina-P2-D.png' %}" alt="Guide Dina">
            <p class="intro">

                Fenjan is expertly crafted to scour the latest posts and tweets on Twitter and LinkedIn, bringing you the most recent Ph.D. positions in your field. This ensures that you are always up-to-date and won't miss any opportunity.
                <br><br>
                The information is delivered to you via a user-friendly email feature, guaranteeing you have immediate access to the data you need, so you can focus on your research and leave the rest to us. We look forward to supporting you on your academic journey.
            </p>
        </section>

        <!-- page 3 -->
        <section class="p3">
            <img class="side" src="{% static 'fenjan/src/images/Side-P3-D.png' %}" alt="Right Cloud">
            <img class="dina" src="{% static 'fenjan/src/images/mascots/Secretary dina-P3-D.png' %}" alt="Secretary Dina" usemap="#regbutton">
            <map class="regbutton" name="regbutton">
                <area href="#" onclick="submitForm(event); return false;" target=""
                    alt="Hot Chocolate" title="Hot Chocolate" coords="604,341,633,325,673,325,709,333,
                        718,343,715,363,740,361,750,374,752,397,743,413,726,422,709,428,706,448,684,457,654,458,632,455,618,
                        446,617,429,607,380" shape="poly">
                <area href="{% url 'admin:index' %}"  target="" alt="Dark Chocolate" title="Dark Chocolate" coords="480,305,534,363" shape="rect">
<!--                 <area target="" id="regbutton-m" alt="Hot Chocolate" title="Hot Chocolate"
                    href="#" onclick="submitForm(event); return false;"
                    coords="149,86,157,82,167,82,176,84,
                        178,86,177,92,184,91,186,94,187,100,184,104,180,106,176,108,175,113,169,115,162,115,156,115,153,112,153,108,150,96" shape="poly"> -->
            </map>
            <p class="intro">

                Fill out this form if you want to receive a 3 day free trial of personalized email based on your keywords.
                <br><br>
                If you want to edit your keywords, fill out the from again with the same email address.
                <br><br>
                If you want to receive the emails after the first 3 days, or you want to add more than 5 keywords, send an email to “ai.hue.app@gmial.com” so we can talk about it in more details.
            </p>
            <section class="registration" id="registration-section">
                <form class="myform" id="myform" method="POST" action="{% url 'register' %}">
                    {% csrf_token %}
                    <label class="title">Free trial registration form</label>
                    <label class="name-label" for="name">Name:</label>
                    <input class="name-input" type="text" id="name" name="name" required>
                    <label class="email-label" for="email">Email:</label>
                    <input class="email-input" type="email" id="email" name="email" required>
                    <label class="keywords-label" for="keywords">Keywords:</label>
                    <input class="keywords-input" type="text" id="keyword1" name="keyword1">
                    <input class="keywords-input" type="text" id="keyword2" name="keyword2">
                    <input class="keywords-input" type="text" id="keyword3" name="keyword3">
                    <input class="keywords-input" type="text" id="keyword4" name="keyword4">
                    <input class="keywords-input" type="text" id="keyword5" name="keyword5">
                    <button type="submit" style="display: none;">Submit</button>
                </form>
                <!-- <img class="Form-back-D" src="{% static 'fenjan/src/images/Form-back-Rec-P3-D.png' %}" alt="Form BackGround"> -->
            </section>
            <p class="copyright">Developed by Hue and Vahid, All right received {{ year }}</p>
            <img class="down" src="{% static 'fenjan/src/images/footer.png' %}" alt="footer">
        </section>
        {% block body %}
        {% endblock %}
    </body>
    <script src="{% static 'fenjan/index.js' %}"></script>
    <script>
        function submitForm(event) {
            event.preventDefault();  // Prevent the default anchor click behavior
            var form = document.getElementById('myform');
            
            if (validateForm()) {
                form.submit();
            } else {
                console.error('Form validation failed');
            }
        }

        function validateForm() {
            var form = document.getElementById('myform');
            var name = form.querySelector('#name').value;
            var email = form.querySelector('#email').value;
            var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
            
            if (name === '') {
                alert('Name is required');
                return false;
            }

            if (email === '' || !emailPattern.test(email)) {
                alert('Valid email is required');
                return false;
            }

            return true;
        }
    </script>
    <!-- <script>
        function submitForm(event) {
            event.preventDefault();  // Prevent the default anchor click behavior
            var form = document.getElementById('myform');
            
            if (form && typeof form.submit === 'function') {
                form.submit();
            } else {
                console.error('Form not found or form.submit is not a function');
            }
        }
    </script> -->
</html>
