html, body {
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    background-color: #E0D8CD;
}

.p34-m {
    display: none;
}

.main {
    display: grid;
    justify-items: center;
    width: 100%;
}

/* /////////////////////////////////////////////////////// */
/* Page 1 */

.p1 {
    display: inline-grid;
    grid-template: 
    "dina well" 42.5rem
    "dina intro" 29.3rem
    "dev cups" 23.2rem
    "dev side" 7rem 
    / 73.6rem 72rem;
}

.p1 .side {
    grid-area: well;
    justify-self: end;
}
.p1 .dina {
    grid-area: dina;
    margin-top: 9.5rem;
}
.p1 .wellhead {
    grid-area: well;
    margin-top: 17rem;
    font-size: 5.9rem;
}
.p1 .underhead {
    grid-area: well;
    width: 47rem;
    margin-top: 25rem;
    font-size: 2.3rem;
    text-align: justify;
}
.p1 .intro {
    grid-area: intro;
    width: 47rem;
    text-align: justify;
    font-size: 2.7rem;
}
.p1 .cups {
    grid-area: cups;
}
.p1 .developer {
    margin-top: 13rem;
    font-size: 2.3rem;
    grid-area: dev;
    justify-items: center;
    justify-self: center;
    z-index: 2;
}
.p1 .developer .icons {
    grid-area: dev;
    margin-left: 15rem;
}
a {
    text-decoration: none;
    border: none;
  }

/* //////////////////////////////////////////////////////// */
/* Page 2 */
.p2 .p1-intro {
    display: none;
}
.p2 {
    display: inline-grid;
    grid-template: "intro dina" 1fr / 72rem 73.6rem;
}
.p2 .intro {
    display: inline;
    grid-area: intro;
    width: 61rem;
    margin-left: 13rem;
    margin-top: 25rem;
    text-align: justify;
    font-size: 2.7rem;
}
.p2 .dina {
    display: inline;
    grid-area: dina;
    margin-top: 10rem;
    justify-self: end;
}
.p2 .side {
    grid-area: intro;
}

/* //////////////////////////////////////////////////////// */
/* Page 3 */

.p3 {
    position: relative;
    display: inline-grid;
    grid-template: 
    "intro form" 38.5rem
    "dina form" 56.2rem
    "down down" 7.5rem
    / 82.6rem 63rem;
}
.p3 .side {
    grid-area: form;
    justify-self: end;
}
.p3 .intro {
    grid-area: intro;
    width: 57rem;
    margin-left: 13rem;
    margin-top: 12rem;
    text-align: justify;
    font-size: 2.3rem;   
}
.p3 .regbutton area#regbutton:hover {
    pointer-events: none;
}
.p3 .dina {
    grid-area: dina;
}

/* //////////////////////////////////////////////////////// */

.p3 .registration {
    grid-area: form;
    margin-top: 30rem;
    width: 39.3rem;
    height: 39rem;
    font-size: 2.3rem;
    background-color: #899A83;
    border-radius: 5%;
    background-clip: padding-box;
    display: inline-grid;
    grid-template:
    "title title" 2rem
    "nlable name" 5rem
    "elable email" 5rem
    "klable ..." 5rem
    "... key1" 4rem
    "... key2" 4rem
    "... key3" 4rem
    "... key4" 4rem
    "... key5" 4rem
    / 11.3rem 28rem;
}

.p3 .registration .title {
    grid-area: title;
    margin-top: -3rem;
}
.p3 .registration input {
    outline: none;
    border: 4px solid #4b4b4b;
    border-radius: 5rem;
    align-self: center;
    height: 2.7rem;
    width: 20rem;
    font-size: 1.5rem;
}
.p3 .registration input:focus {
    border: 4px dashed #4b4b4b;
}
.p3 .registration .name-lable {
    grid-area: nlable;
    margin-left: 2rem;
    align-self: center;
}
.p3 .registration .name-input {
    grid-area: name;
    align-self: center;
    justify-self: center;
    width: 24rem;
}
.p3 .registration .email-lable {
    grid-area: elable;
    margin-left: 2rem;
    align-self: center;
}
.p3 .registration .email-input {
    grid-area: email;
    align-self: center;
    justify-self: center;
    width: 24rem;
}
.p3 .registration .keywords-lable {
    grid-area: klable;
    margin-left: 2rem;
    align-self: center;
}
.p3 .registration #keyword1 {
    grid-area: key1;
    align-self: center;
    justify-self: center;
}
.p3 .registration #keyword2 {
    grid-area: key2;
    align-self: center;
    justify-self: center;
}
.p3 .registration #keyword3 {
    grid-area: key3;
    align-self: center;
    justify-self: center;
}
.p3 .registration #keyword4 {
    grid-area: key4;
    align-self: center;
    justify-self: center;
}
.p3 .registration #keyword5 {
    grid-area: key5;
    align-self: center;
    justify-self: center;
}
/* .p3 .map #regbutton {
    grid-area: but;
    background: #917662;
    position: relative;
} */
/* .regbutton {
    grid-area: but;
    width: 120px;
    height: 80px;
    background: #917662;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  .regbutton:before {
    grid-area: but;
    content: "";
    position: absolute;
    right: 100%;
    top: 26px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid #917662;
    border-bottom: 13px solid transparent;
  } */
/* //////////////////////////////////////////////////////// */

.p3 p.copyright {
    position: absolute;
    margin-top: 5rem;
    z-index: 1;
    grid-area: down;
    justify-self: center;
    font-size: 1.56rem;
}
.p3 .footer {
    grid-area: down;
    position: absolute;
    justify-self: center;
    bottom: 0rem;
}


/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */

@media screen and (max-width: 1080px) {
    .p1 .cups, .intro {
        display: none;
    }
    .side {
        display: none;
    }

    /* ////////////////////////////////// */
    /* page 1 */

    .p1 {
        display: inline-grid;
        grid-template: 
        "first" 23.5rem
        "second" 8rem
        "third" 10rem
        / 39rem;
    }
    .p1 .dina {
        grid-area: first;
        margin-top: 3.6rem;
        width: 18rem;
    }
    .p1 .wellhead {
        grid-area: first;
        margin-top: 8.5rem;
        width: 18rem;
        font-size: 3.8rem;
        justify-self: end;
    }
    .p1 .underhead {
        grid-area: second;
        margin: 0 3.3rem;
        margin-left: 4rem;
        width: 31rem;
        font-size: 1.9rem;
    }
    .p1 .developer {
        grid-area: third;
        margin-top: 0;
        width: 34.5rem;
        font-size: 1.5rem;
    }
    .p1 .developer .icons {
        margin-left: 0;
    }
    
    /* ////////////////////////////////// */
    /* Page 2 */
    
    .p2 .intro {
        display: none;
    }
    .p2 {
        grid-template: 
        "p2" 23rem/ 39rem;
        margin-top: 3rem;
    }
    .p2 .p1-intro {
        display: inline;
        grid-area: p2;
        width: 18.5rem;
        margin-left: 1rem;
        font-size: 1.5rem;
        text-align: justify;
    }
    .p2 .dina {
        grid-area: p2;
        margin: 0;
        width: 21rem;
    }

    /* ////////////////////////////////// */
    /* Page 3 and 4 for Mobile */

    .p34-m {
        display: inline-grid;
        grid-template:
        "twoM" 25rem
        "threeM" 30rem
        / 39rem;
        margin-top: 3rem;
    }
    .p34-m .dina-2m {
        grid-area: twoM;
    }
    .p34-m .intro-1 {
        grid-area: twoM;
        width: 17rem;
        justify-self: end;
        margin-right: 1rem;
        font-size: 1.5rem;
        text-align: justify;
    }
    .p34-m .intro-2 {
        grid-area: threeM;
        width: 21rem;
        margin-left: 1rem;
        font-size: 1.5rem;
        text-align: justify;
    }
    .p34-m .dina-3m {
        grid-area: threeM;
        justify-self: end;
    }

    /* ////////////////////////////////// */
    /* Page 3 */

    .p3 {
        position: relative;
        display: inline-grid;
        grid-template:
        "intro" 18rem
        "form" 35rem
        "down" 4rem
        / 39rem;
    }
    .p3 .intro {
        display: inline;
        grid-area: intro;
        margin: 1rem;
        width: 37rem;
        text-align: justify;
        font-size: 1.5rem;
    }
    .p3 .map .area#regbutton-m:hover {
        pointer-events: none;
    }
    .p3 .dina {
        grid-area: form;
        width: 21rem;
    }

    /* ////////////////////////////////// */

    .p3 .registration {
        display: inline-grid;
        grid-area: form;
        /* justify-items: center; */
        justify-self: end;
        margin-right: 1rem;
        margin-top: 3rem;
        width: 18rem;
        height: 29rem;
        font-size: 1.2rem;
        background-color: #899A83;
        border-radius: 5%;
        background-clip: padding-box;
        grid-template: 
        "title" 1rem
        "nlable" 2rem
        "name" 3rem
        "elable" 2rem
        "email" 3rem
        "klable" 2rem
        "key1" 3rem
        "key2" 3rem
        "key3" 3rem
        "key4" 3rem
        "key5" 3rem
        / 18rem;
    }
    .p3 .registration .title {
        grid-area: title;
        margin-top: -1.5rem;
        margin-left: 1rem;
    }
    .p3 .registration input {
        outline: none;
        border: 2px solid #4b4b4b;
        border-radius: 5rem;
        align-self: center;
        height: 2rem;
        width: 15rem;
        font-size: 1.2rem;
    }
    .p3 .registration input:focus {
        border: 2px dashed #4b4b4b;
    }
    .p3 .registration .name-lable {
        grid-area: nlable;
        margin-left: 2rem;
        align-self: center;
    }
    .p3 .registration .name-input {
        grid-area: name;
        align-self: center;
        justify-self: center;
        width: 15rem;
    }
    .p3 .registration .email-lable {
        grid-area: elable;
        margin-left: 2rem;
        align-self: center;
    }
    .p3 .registration .email-input {
        grid-area: email;
        align-self: center;
        justify-self: center;
        width: 15rem;
    }
    .p3 .registration .keywords-lable {
        grid-area: klable;
        margin-left: 2rem;
        align-self: center;
    }
    .p3 .registration #keyword1 {
        grid-area: key1;
        align-self: center;
        justify-self: center;
    }
    .p3 .registration #keyword2 {
        grid-area: key2;
        align-self: center;
        justify-self: center;
    }
    .p3 .registration #keyword3 {
        grid-area: key3;
        align-self: center;
        justify-self: center;
    }
    .p3 .registration #keyword4 {
        grid-area: key4;
        align-self: center;
        justify-self: center;
    }
    .p3 .registration #keyword5 {
        grid-area: key5;
        align-self: center;
        justify-self: center;
    }
    /* ////////////////////////////////// */
    .p3 .copyright {
        position: absolute;
        margin-top: 2.9rem;
        z-index: 1;
        grid-area: down;
        justify-self: center;
        font-size: 1rem;
    }
    .p3 .footer {
        /* margin-left: 1rem; */
        /* transform: translateX(-50%); */
        width: 37rem;
    }
}