<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style-admin.css">
        <link rel="icon" type="image/png" href="/static/images/Icon.png">
        <title>Fenjan Admin</title>
    </head>
    <body class="main">

            <!-- Top Navigation -->
            <section class="navigation">
                <img class="admin-dina" src="/static/images/mascots/Admin dina.png" alt="Admin Dina">
                <h1 class="title">Fenjan<br>Admin Panel</h1>
                <a class="home-link" href="{{ url_for('home') }}">Home</a>
                <img class="icon" src="/static/images/mascots/Admin Icon.png" alt="Admin Icon">
            </section>


            <!-- Active User Section -->
            <section class="active">
                <h2>Active accounts</h2>
                <div class="active-user-dic">
                    {% for account in accounts %}
                        {% if account.status == 'active' %}
                            <div class="user-frame">
                                <p>
                                    User Name: {{ account.User_Name }}
                                    <br>
                                    Email: {{ account.Email }}
                                    <br>
                                    Subscription Date: {{ account.Subscription_Date }}
                                    <br>
                                    Expire Date: {{ account.Expire_Date }}
                                    <br>
                                    Keywords:
                                    <br>
                                    {{ account.Keywords }}
                                </p>
                                <div class="buttons">
                                    <button class="edit-button" type="button">Edit</button>
                                    <button class="delete-button" type="button">Delete</button>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </section>

            <!-- Expired User Section -->
            <section class="expired">
                <h2>Recently expired accounts</h2>
                <div class="expired-user-dic">
                    {% for account in accounts %}
                        {% if account.status == 'expired' %}
                                <div class="user-frame">
                                    <p>
                                        User Name: {{ account.User_Name }}
                                        <br>
                                        Email: {{ account.Email }}
                                        <br>
                                        Subscription Date: {{ account.Subscription_Date }}
                                        <br>
                                        Expire Date: {{ account.Expire_Date }}
                                        <br>Keywords:
                                        <br>
                                        {{ account.Keywords }}
                                    </p>
                                    <div class="buttons">
                                        <button class="edit-button" onclick="window.location.href='{{ url_for('edit_function') }}'" type="button">Edit</button>
                                        <button class="delete-button" type="button">Delete</button>
                                    </div>
                                </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </section>

            <!-- Below Section -->
            <section class="below">
                <p class="copyright">copyright reserved to Hue {{ year }}</p>
                <img class="footer" src="/static/images/footer.png" alt="footer">
            </section>
    </body>
</html>