{% extends "admin-base.html" %}

{% block content %}
            <!-- Active User Section -->
            <section class="active">
                <h2>Active accounts</h2>
                <div class="active-user-dic">
                    {% for account in accounts %}
                        {% if account.status == 'active' %}
                            <div class="user-frame">
                                <p>
                                    User Name: {{ account.User_Name }}
                                    <br>
                                    Email: {{ account.Email }}
                                    <br>
                                    Subscription Date: {{ account.Subscription_Date }}
                                    <br>
                                    Expire Date: {{ account.Expire_Date }}
                                    <br>
                                    Keywords:
                                    <br>
                                    {{ account.Keywords }}
                                </p>
                                <div class="buttons">
                                    <button class="edit-button" type="button">Edit</button>
                                    <button class="delete-button" type="button">Delete</button>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </section>

            <!-- Expired User Section -->
            <section class="expired">
                <h2>Recently expired accounts</h2>
                <div class="expired-user-dic">
                    {% for account in accounts %}
                        {% if account.status == 'expired' %}
                                <div class="user-frame">
                                    <p>
                                        User Name: {{ account.User_Name }}
                                        <br>
                                        Email: {{ account.Email }}
                                        <br>
                                        Subscription Date: {{ account.Subscription_Date }}
                                        <br>
                                        Expire Date: {{ account.Expire_Date }}
                                        <br>Keywords:
                                        <br>
                                        {{ account.Keywords }}
                                    </p>
                                    <div class="buttons">
                                        <button class="edit-button" onclick="window.location.href='{{ url_for('edit_function') }}'" type="button">Edit</button>
                                        <button class="delete-button" type="button">Delete</button>
                                    </div>
                                </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </section>

{% endblock content %}