<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        <title>Fenjan</title>
    </head>
    <body>
        <div class="container">

            <!-- page 1 -->
            <img class="Side-P1-D" src="/src/images/Side-P1-D.png" alt="Right Cloud">
            <h1 class="wellhead">Welcome to Fenjan!</h1>
            <h2 class="underhead">Your beloved dinosaur that help you to find your dream PhD positions</h2>
            <img class="orange-dina-D" src="/src/images/mascots/Reciption dina-P1-D.png" alt="Malang Dina">
            <p class="intro-1">
                Fenaja is a tool designed to assist you in finding your dream Ph.D. position.
                We understand that searching through social media platforms for Ph.D. positions can be tedious and time-consuming.
                That's why we've developed Fenjan, it simplifies the process and saves your valuable time.
            </p>
            <img class="orange-cups-D" src="/src/images/mascots/Cups-P1-D.png" alt="Orange Cups">
            <p class="dev">Developed by: Hue (MohammadHossein) Salari</p>
            <img class="dev-i-G" src="/src/images/Git icon-P1-D.png" alt="Git Icon">
            <img class="dev-i-M" src="/src/images/Mastodon icon-P1-D.png" alt="Mastodon Icon">
            <img class="dev-i-L" src="/src/images/Linked icon-P1-D.png" alt="Linked Icon">

            <!-- page 2 -->
            <img class="Side-P2-D" src="/src/images/Side-P2-D.png" alt="Left Cloud">
            <img class="guide-dina-D" src="/src/images/mascots/Guide dina-P2-D.png" alt="Guide Dina">
            <p class="intro-2">

                Fenjan is expertly crafted to scour the latest posts and tweets on Twitter and LinkedIn, bringing you the most recent Ph.D. positions in your field. This ensures that you are always up-to-date and won't miss any opportunity.
                <br><br>
                The information is delivered to you via a user-friendly email feature, guaranteeing you have immediate access to the data you need, so you can focus on your research and leave the rest to us. We look forward to supporting you on your academic journey.
            </p>

            <!-- page 3 -->
            <img class="Side-P3-D" src="/src/images/Side-P3-D.png" alt="Right Cloud">
            <img class="secretary-dina-D" src="/src/images/mascots/Secretary dina-P3-D.png" alt="Secretary Dina">
            <p class="intro-3">

                Fill out this form if you want to receive a 3 day free trial of personalized email based on your keywords.
                <br><br>
                If you want to edit your keywords, fill out the from again with the same email address.
                <br><br>
                If you want to receive the emails after the first 3 days, or you want to add more than 5 keywords, send an email to “ai.hue.app@gmial.com” so we can talk about it in more details.
            </p>
            <div class="Reg-Form">
                <div class="Form-box">
                    <label class="title">Free trial registration form</label>
                    <label class="name-lable" for="name">Name:</label>
                    <input class="name-input" type="text" id="name" name="name"><br>
                    <label class="email-lable" for="email">Email:</label>
                    <input class="email-input" type="email" id="email" name="email"><br>
                    <label class="keywords-lable" for="keywords">Keywords:</label><br>
                    <label></label><label></label>
                    <input class="keywords-input" type="text" id="keyword-1" name="keywords"><br>
                    <input class="keywords-input" type="text" id="keyword-2" name="keywords"><br>
                    <input class="keywords-input" type="text" id="keyword-3" name="keywords"><br>
                    <input class="keywords-input" type="text" id="keyword-4" name="keywords"><br>
                    <input class="keywords-input" type="text" id="keyword-5" name="keywords"><br>
                    <!-- <img class="Form-back-D" src="/src/images/Form-back-Rec-P3-D.png" alt="Form BackGround"> -->
                </div>
            </div>
            <img class="footer" src="/src/images/footer.png" alt="footer">

        </div>
    </body>
</html>